<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="www/style.css">
</head>

<body class="center-content">
    <div class="login-card">
        <img src="www/app-icon.png" class="app-icon" alt="app icon">
        <h1>
            <span class="label-h1">Visualizador de Mapas</span><br>
            Administração
        </h1>
        <p>Seja Bem Vindo, <span id="nome-usuario"></span></p>
        <button id="btn-logout">logout</button>
        <button id="btn-refresh">refresh territorios</button>

        <p>resultado chamada:</p>
        <p id="resultado"></p>
    </div>
    

    <script>
        const btnLogout = document.querySelector('#btn-logout');
        const nomeUsuario = document.getElementById("nome-usuario");

        fetch('/api/admin/user', {
                method: 'GET',
                credentials: 'include' // Essencial para o navegador saber qual cookie limpar
        }).then(async (respostaAdminUserFetch) => {
            if (respostaAdminUserFetch.ok) {
                var { data } = await respostaAdminUserFetch.json();
                nomeUsuario.innerText = data.login;
            }
        });

               

        btnLogout.addEventListener('click', async () => {
            try {
                const resposta = await fetch('/api/admin/logout', {
                    method: 'GET',
                    credentials: 'include' // Essencial para o navegador saber qual cookie limpar
                });

                if (resposta.ok) {
                    // Após limpar o cookie no servidor, limpamos o estado local e redirecionamos
                    window.location.href = '/admin';
                }
            } catch (erro) {
                console.error('Erro ao deslogar:', erro);
            }
        });

        const btnRefresh = document.getElementById("btn-refresh");
        const resultado = document.getElementById("resultado");

        btnRefresh.addEventListener('click', async () => {
            try {
                const resposta = await fetch('/api/territorios/refresh', {
                    method: 'GET',
                    credentials: 'include' // Essencial para o navegador saber qual cookie limpar
                });

                if (resposta.ok) {
                    resultado.innerText = "Territorios atualizados!"
                }
            } catch (erro) {
                console.error('Erro ao atualizar:', erro);
                resultado.innerText = "Erro: " +JSON.stringify(erro);
            }
        });
    </script>
</body>

</html>