<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/www/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="www/style.css">
</head>

<body class="center-content">
    <div class="login-card">
        <img src="www/app-icon.png" class="app-icon" alt="app icon">
        <h1>
            <span class="label-h1">Visualizador de Mapas</span><br>
            Administração
        </h1>
        <p>Seja Bem Vindo, <span id="nome-usuario"></span></p>
        <button id="btn-logout">logout</button>
        <button id="btn-refresh">refresh territorios</button>
        <button id="btn-mapa-completo">Visualizar Território Completo</button>

        <p>resultado chamada:</p>
        <p id="resultado"></p>
    </div>    

    <script src="www/scripts-admin.js"></script>
</body>

</html>