<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/www/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Território Completo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/www/style.css">
</head>

<body class="complete-map">
    <button class="show-hidden-list" onclick="showList()">selecionar territorios</button>
    <div class="territory-card" id="lista-oculta">        
        <div id="">
            <label> 
            <input type="checkbox" name="check-all" id="check-all">
            Marcar Todos
            </label>
            <ul id="territoryList" class="territory-list"></ul>
        </div>
        
    </div>
    <div id="mapa" class="map-default-position fullscreen lock" allow-edition="true">
        <button onclick="showForm()" class="map-button new" id="showFormButton">+ novo</button>
    </div>
    <dialog class="edit-dialog hide" id="edit-dialog">
        <form id="edit-dialog-form" onsubmit="submitForm(event)">
            <label>
                Cartão 
                <select name="cartao" id="form_numerocartao">
                </select>
            </label>
            <label>
                Endereço 
                <input type="text" name="endereco" id="form_endereco">
            </label>
            <label>
                Número 
                <input type="text" name="numeroCasa" id="form_numerocasa">
            </label>
            <label>
                Obs.: 
                <input type="text" name="obs" id="form_obs">
            </label>
            <fieldset>
                Coordenadas
                <div class="row">
                    <input type="text" readonly name="lat" id="form_lat">
                    <input type="text" readonly name="long" id="form_long">
                </div>                
            </fieldset>
            <button>salvar</button>
            <button type="button" id="delete-button" onclick="deleteAddress()" style="display: none;">excluir</button>
        </form>
        <button class="close-button" onclick="closeForm()">X</button>
    </dialog>
    <script src="/www/scrips.js"></script>
    <script src="/www/map.js"></script>
    <script src="/www/complete-map.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            mapHolder.inicializarMapa();
            mountTerritoryListHtml();
            mapHolder.setOnClickMark((data, marker) => {
                if (isEditMode) return; // Prevent opening edit for another marker while editing
                currentEditingMarker = marker;
                showForm(data);
            })
        });
    </script>

</body>

</html>